
<!-- 管・ジャンル一覧ページ　-->
<h1>Categories#index</h1>
 <p>Find me in app/views/categories/index.html.erb</p>
<!--
<table>
	<thead>
		<th>登録ジャンル</th>
	</thead>
	 <tbody>
      <% @categories.each do |genre| %>
		<td><%= link_to "削除", categorie_path(genre.id), method: :delete, class: "destroy_#{genre.id}" %></td>
		<td><%= caregorie.genre %></td>
	  <% end %>
	 </tbody>
</table>
-->

 <h2>ジャンル登録</h2>
<!--
 <%= form_for(@categorie) do |newgenre| %>
 <%= newgenre.txt_field :genre, class: "newgenre" %>
 <%= newgenre.submit '追加' %>
 <% end %>
-->

  <%= link_to "更新", , class: "update" %>